BASE_URL=https://global-blog-hub-frontend.vercel.app
API_BASE_URL=https://global-blog-hub-api.onrender.com

USER_EMAIL=your_user_email@example.com
USER_PASSWORD=your_user_password

ADMIN_EMAIL=your_admin_email@example.com
ADMIN_PASSWORD=your_admin_password
